<template name="stepItem">
    <div class="col-xs-11">
        <div class="panel panel-{{doneClass isDone}}">
            <div class="panel-heading">

                <h3 class="panel-title">{{#if isDone}}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;{{/if}}{{description}}
            <span>({{durationTime}})</span></h3>
                <div>Start at: {{startStepAt}} ({{startStepIn}})</div>
            </div>
            <div class="panel-body">
                <p>
                    submitted by {{author}} {{#if ownStep}}<a href="{{pathFor 'stepEdit'}}">Edit</a>{{/if}}
                </p>

            </div>
            <!-- <a href="{{pathFor 'stepPage'}}" class="discuss btn btn-default">View Details</a>-->
        </div>
    </div>
    <div class="col-xs-1">
        <button type="button" class="btn btn-{{doneClass isDone}} pull-right toggleDone">{{doneValue isDone}}</button>
    </div>
</template>
