<template name="stepEdit">
    <form class="main form">
        <fieldset class="form-group {{errorClass 'durationInSeconds'}}">
            <label class="control-label" for="hours">Hours</label>
            <div class="controls">
                <input name="hours" id="hours" type="number" value="{{hours}}" placeholder="hours" class="form-control" />

            </div>
            <label class="control-label" for="minutes">Minutes</label>
            <div class="controls">
                <input name="minutes" id="minutes" type="number" value="{{minutes}}" placeholder="minutes" class="form-control" />

            </div>
            <label class="control-label" for="seconds">Seconds</label>
            <div class="controls">
                <input name="seconds" id="seconds" type="number" value="{{seconds}}" placeholder="seconds" class="form-control" />

            </div>
            <span class="help-block">{{errorMessage 'durationInSeconds'}}</span>
        </fieldset>
        <div class="form-group {{errorClass 'description'}}">
            <label class="control-label" for="description">Description</label>
            <div class="controls">
                <input name="description" id="description" type="text" value="{{description}}" placeholder="Describe your step" class="form-control" /><span class="help-block">{{errorMessage 'description'}}</span>
            </div>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary submit" />
        <hr/>
        <a class="btn btn-danger delete" href="#">Delete post</a>
    </form>
</template>