<template name="stepSubmit">
    <form class="main form">
        <div class="form-group">
            <label class="control-label" for="durationInSeconds">Duration in seconds</label>
            <div class="controls">
                <input name="durationInSeconds" id="durationInSeconds" type="number" value="" placeholder="Duration in seconds" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="description">Description</label>
            <div class="controls">
                <input name="description" id="description" type="text" value="" placeholder="Describe your step" class="form-control" />
            </div>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary" />
    </form>
</template>
